<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
    </style>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <ul class = "nav_links">
                    <li><a href = "../index.html">Welcome</a></li>
                    <li><a href = "history.html">History</a></li>
                    <li><a href = "san_pedro.html" >San Pedro</a></li>
                    <li><a href = "caves_branch.html">Caves Branch</a></li> 
                    <li><a href = "gallery.html">Photo Gallery</a></li>
                    <li><a href = "contact_form.html">Contact</a></li> 
                    <li><a href = "weather.html">Weather</a></li>  
                </ul>
            </nav>
        </header>
        <div class = "wrapper">
        <h1 class = "bold">Photo Gallery</h1>

        <div id="galleryFilters">
            <input type="checkbox" :id="galleryFilters[0].location" :name="galleryFilters[0].location" :value="galleryFilters[0].location" v-model="checkedLocations" @input="uncheckAll">
            <label :for="galleryFilters[0].location">{{galleryFilters[0].location}} </label>
            <input type="checkbox" :id="galleryFilters[1].location" :name="galleryFilters[1].location" :value="galleryFilters[1].location" v-model="checkedLocations" @input="uncheckAll">
            <label for="vehicle2"> {{galleryFilters[1].location}} </label>
            <input type="checkbox" :id="galleryFilters[2].location" :name="galleryFilters[2].location" :value="galleryFilters[2].location" v-model="checkedLocations" @input="uncheckAll">
            <label for="vehicle2"> {{galleryFilters[2].location}} </label>
            <input type="checkbox" :id="galleryFilters[3].location" :name="galleryFilters[3].location" :value="galleryFilters[3].location" v-model="checkedLocations" @input="uncheckAll">
            <label for="vehicle2"> {{galleryFilters[3].location}} </label>
            <input type="checkbox" :id="galleryFilters[4].location" :name="galleryFilters[4].location" :value="galleryFilters[4].location" v-model="checkedLocations" @input="checkedAll">
            <label for="vehicle2"> {{galleryFilters[4].location}} </label>
            
        </div>
        
        <article class = "grid-container">
                <div class = "grid-item">
                    <figure v-show="sanPedroInArray">
                        <img :src="images[0].src" :alt="images[0].alt" >
                        <figcaption>{{images[0].alt}}</figcaption>
                    </figure>
                </div>
                <div class ="grid-item">
                    <figure v-show="sanPedroInArray">
                        <img :src="images[1].src" :alt="images[1].alt" >
                        <figcaption>{{images[1].alt}}</figcaption>
                    </figure>
                </div>
                <div class = "grid-item">
                    <figure v-show="lamanaiInArray">
                        <img :src="images[4].src" :alt="images[4].alt" >
                        <figcaption>{{images[4].alt}}</figcaption>
                    </figure>
                </div>
                <div class = "grid-item">
                    <figure v-show="sanPedroInArray">
                        <video width="320" height="240" controls>
                            <source :src="videos[0].src" :type="videos[0].type">
                            {{videos[0].alt}}
                        </video>
                        <figcaption>{{videos[0].alt}}</figcaption>
                    </figure>
                </div>
                <div class = "grid-item">
                    <figure v-show="cayeCaulkerInArray">
                        <video width="320" height="240" controls>
                            <source :src="videos[1].src" :type="videos[1].type">
                            {{videos[1].alt}}
                        </video>
                        <figcaption>{{videos[1].alt}}</figcaption>
                    </figure>
                </div>
                <div class = "grid-item">
                    <div class = "grid-item">
                        <figure v-show="sanPedroInArray">
                            <img :src="images[5].src" :alt="images[5].alt" >
                            <figcaption>{{images[5].alt}}</figcaption>
                        </figure>
                    </div>
                </div>
                <div class = "grid-item">
                    <figure v-show="cavesBranchInArray">
                        <img :src="images[6].src" :alt="images[6].alt" >
                        <figcaption>{{images[6].alt}}</figcaption>
                    </figure>
                </div> 
                <div class = "grid-item">
                    <figure v-show="cavesBranchInArray">
                        <video width="320" height="240" controls>
                            <source :src="videos[2].src" :type="videos[2].type">
                            {{videos[2].alt}}
                        </video>
                        <figcaption>{{videos[2].alt}}</figcaption>
                    </figure>
                </div> 
                <div class = "grid-item">
                    <figure v-show="cavesBranchInArray">
                        <video width="320" height="240" controls>
                            <source :src="videos[3].src" :type="videos[3].type">
                        {{videos[3].alt}}
                        </video>
                        <figcaption>{{videos[3].alt}}</figcaption>
                    </figure>
                </div> 
            
        </article>
    </div>
</div>
<script src="../js/script.js"></script>
</body>
</html>